* {
    box-sizing: border-box;
  }

  :root {
    --light-colour1: #87BBA2;
    --light-colour2: #DEEEDF; 
    --dark-colour1: #3B6064; 
    --dark-colour2: #364958;
    --background-colour: #C9E4CA; 
  }
  
  body {
    display: flex; 
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }

  main {
    display: flex; 
    flex-direction: column;
    background-color: var(--background-colour);
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }
  
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-colour1);
    color: var(--light-colour1);
    padding: 10px;
  }

nav { 
    display: flex; 
    background-color: var(--dark-colour1);
    padding: 0px;
    justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline; 
  margin: 0 10px;
}

nav a {
    color: var(--light-colour2);
    padding: 0px; 
    text-decoration: none;
    text-align: right;
  }
  
  h1 {
    font-size: 52px;
    margin-bottom: 5px;
  }

  h1:hover {
    color: var(--light-colour2);
  }

  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  h2:hover {
    color: var(--light-colour2);
  }

.hero-banner {
  display: flex;  
  justify-content: right; 
  align-items: right; 
  background-color: var(--dark-colour1);
  color: var(--light-colour1);
  padding: 20px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-colour1);
} 

section p {
  align-items: center;
  color: var(--dark-colour2);
  line-height: 2;
}

.work.large-box {
  grid-column: span 2;
  grid-row: span 2;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  background-color: var(--light-colour1);
}

.page-section.contact {
  display: flex; 
  background-color: var(--light-colour1); 
  color: var(--dark-colour2);
}

.page-section.contact li {
  color: var(--dark-colour2);
}

.page-section.contact a {
  text-decoration: none;
  color: var(--dark-colour1);
}

.page-section.contact a:hover {
  color: red;
}

.contact-list {
  width: 100%;
  display: flex;
  justify-content: space-around; 
  list-style: none;
  padding: 0px;
}

.contact-list li {
  text-align: center;
  margin: 5px; 
}

.contact-list a { 
  text-decoration: none;
  color: var(--dark-colour1);
}

.contact-list a:hover {
  color: red;
}

.work {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 10px;
  padding: 10px;
  background-color: var(--light-colour1);
  border: 3px dashed var(--dark-colour1);
}

.work:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.work:hover {
  background-color: var(--dark-colour1);
}

.work-link {
  color: var(--dark-colour1);
}

.work-image { 
  height: 100px;
  width: 100px;
}

.work-image1 { 
  height: 100px;
  width: 100px;
}

.work-image2 {
  height: 75px;
  width: auto;
}

.work-image3 {
  height: 75px;
  width: auto;
}

.work-image4 {
  height: 75px;
  width: auto;
}

.work-image5 {
  height: 75px;
  width: auto;
}

.work h3 {
  font-size: 15px;
  color: white;
}

.work p {
  font-size: 13px;
}

  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  /*
  @media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    } */ 