* {
    box-sizing: border-box;
  }

  :root {
    --light-colour1: #87BBA2;
    --light-colour2: #DEEEDF; 
    --dark-colour1: #3B6064; 
    --dark-colour2: #364958;
  }
  
  body {
    display: flex; 
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-colour1);
    color: var(--light-colour1);
    padding: 10px;
  }

nav { 
    display: flex; 
    background-color: var(--dark-colour1);
    padding: 0px;
    justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline; 
  margin: 0 10px;
}

nav a {
    color: var(--light-colour2);
    padding: 0px; 
    text-decoration: none;
    text-align: right;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-colour1);
  color: var(--light-colour1);
  padding: 20px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-colour1);
} 

section p {
  align-items: center;
  color: var(--dark-colour2);
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  background-color: var(--light-colour1);
}

.page-section.contact {
  display: flex; 
  background-color: var(--light-colour1); 
  color: var(--dark-colour2);
}

.page-section.contact li {
  color: var(--dark-colour2);
}

.page-section.contact a {
  text-decoration: none;
  color: var(--dark-colour1);
}

.page-section.contact a:hover {
  color: red;
}

.work {
  display: flex; 
  flex-direction: row; 
  margin: 10px;
  padding: 20px;
  background-color: var(--light-colour1);
  border: 3px dashed var(--dark-colour1);
}

.work:hover {
  background-color: var(--dark-colour1);
}

.work-link {
  color: var(--dark-colour1);
}

.work-image { 
  height: 100px;
}

.work-image2 {
height: 50px;
}

.work h3 {
  font-size: 15px;
  color: white;
}

.work p {
  font-size: 13px;
}

  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  /*
  @media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    } */ 